* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
/*Warna Input*/
:root{
  --background-color: #111111;
  --second-background-color: #151515;
 --text-warna: white;
 --main-warna: #00ffff;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}
body{
  background: var(--background-color);
  color: var(--text-color);
} 

.navbar-services a{
  font-size:  1.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px dolid transparent;
}
.header-services a{
 
}